/* @font-face {
  font-family: greek-freak;
  src: url('../fonts/greek-freak.ttf');
} */

body {
  margin: 0;
  padding: 0;
}

#logo {
  position: absolute;
  left: 5px;
  top: 5px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ba9f27;
  font-family: greek-freak, Helvetica;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.nav-options {
  /* list-style: none; */
  padding: 10px;
  background-color: #ba9f27;
  color: crimson;
}

.nav-link {
  margin-left: 15px;
  display: inline-block;
}

.main-section {
  margin: 0;
}

.middle {
  background-color: #6e261e;
  padding-bottom: 700px;
  padding-top: 1px;
}

.main-page-text {
  text-align: center;
  color: white;
}

@media (min-width: 1000px) {
  .main-section {
    display: flex;
    flex-direction: row;
    height: 93%;
  }

  .left,
  .right {
    width: 20%;
    background-color: #1d2247;
    /* background-image: url('../images/marble-pillars-1.jpg');
    background-size: cover; */
    /* background-position: center; */
  }

  .middle {
    width: 60%;
  }
}

html,
body {
  height: 100%;
}

footer {
  background-color: #ba9f27;
  text-align: center;
  padding: 1px;
}
